/*  color palette
https://coolors.co/c2c7cb-101c4d-8c99a2-b7990d-2f2504
#C2C7CB - silver sand
#101C4D - royal blue dark
#0A1233 - oxford blue
#8C99A2 - cadet grey
#B7990D - lemon curry
#E5BE10 - saffron
#2F2504 - olive drab 7
*/

html { 
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 
  
  /* Global Styles */
  body{
    color: #0A1233;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  
  
  img {
    width: 300px;
  }

  a{
    color: #E5BE10;
  }
  a:hover{
    text-decoration: none;
  }
  
  h1{
    font-size: 100px;
    line-height: 1;
  }
  h2{
    margin: 0; /* eliminates extra space at top of each section */
    font-size: 45px;
  }
  
  h1, h2{
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
  
  }
  
  h3{
    margin-bottom:0;
  }
  
  .content_wrapper{
    max-width: 800px; 
    width: 85%; /* applies when viewport < 800px*/
    margin: 0 auto; /* centers content wrapper horizontally */
    padding: 60px 0;  /* 60px prev value pushes content in on top and bottom to eliminate gaps between sections */
  }

  h3 {
    margin-bottom: 0;
}

/* applies to 1st child p after h3 */
.item-details h3 + p {
    font-style: italic;
}

/* all p after h3 */
.item-details h3 ~ p{
    margin: 0;
}

.divider> section{
    border-bottom: 1px dashed #2F2504;
    padding: 25px 0;
}
.divider > section:last-of-type{
    border-bottom: none;
}

/* Nav bar */

.nav-wrapper{
  /* margin: 1rem auto;  */
  background: #101C4D;
  padding-top:10px;
}
.hamburger{
  background: #101C4D;
  margin-left:10px;
}
/* is block level element and will stretch length of page */
nav{
  /* border: 5px solid blue; */
  background: #101C4D;
  padding: 1rem;
  /* added for positioning of nav menu and close button */
  display: flex;
  justify-content: space-between;
  /* sets out of regular flow and sets where declared */
  position:absolute;
  /* want bar over hamburger when open */
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
  /* animate slide up and down */

  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

nav:target{
  transform: translateY(0);
}
.close:hover{
   background-color: transparent;
   color:#E5BE10;
}

/* flex container */
nav ul{
  /* border: 2px solid black; */
   /* remove default bullets */
   list-style-type: none;
   /* remove spacing around */
   margin: 0;
   padding: 0;
   display: flex;
   flex-flow: column wrap;
   width: 100%;
   /* send everything right */
   justify-content: center;
   align-items: center;
}

.name-logo{
    display: none;
}
nav li{
  
}

/* clickable area only as big as words by default */
nav a{
  color:#E5BE10;
  background: #101C4D;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  /* bigger clickable area */
  display: block;
  padding: 0.5rem 1rem;
}
/* mouse hover no click */
nav a:hover{
    color: #101C4D;
    background: #E5BE10;
}
/* runs color across */
.nav-link nav li:hover{
  background: #E5BE10; 
}

/* Five possible link states, in order:
:link -- before you've visited the site
:visited -- you've viewed the site before
:focus -- when the element is selected
:hover -- when you hover over it
:active -- after the link is clicked, before the next page loads
Remember with the acronym
Lord Vader Former Handle Anakin
or
LiVe Free HAppy 
*/

@media(min-width:750px){
  nav{
      padding:0;
      position: static;
      height: auto;
      transform: translateY(0);
  } 

  .hamburger, .close{
      display:none;
  }

  nav ul{
      flex-flow: row wrap;
      justify-content: flex-end;
  }

  .name-logo{
      display: block;
   color: #E5BE10;
   font-family: 'Caveat', cursive;
   font-weight: 600;
   font-size: 2.5rem;
   padding: 0.5rem 1rem;
   /* flex-basis: 25vw; */
   /* border: 2px solid white; */
   /* use to shove left */
   margin-right: auto;
   text-align: left;
 }
}
  
  /* About */

  /* holds entire section */
  .About{
    
  }
  
  header{
    background: #101C4D;
    color: #C2C7CB;
  }
  
  .header-item{
    overflow: hidden;
  }
  
  header h1,
  header h2{
    color: #E5BE10;
  }

  .header-img{
  
  }
  
  /* featured projects */
  
/* Projects */
.projects{
  background-color: #8C99A2;
}

.project-item img{
  margin-bottom: 10px;
  height: 250px;
  object-fit:cover;
}
.projects a{
color: #0A1233;
}

.projects .btn{
  color:#C2C7CB;
  background:#101C4D;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block; /* required to place inside padding space*/
}
.projects .btn:hover {
  background: rgba(16,28,77, 80%);
}

.project-item{
  overflow: hidden;
}

.project-item h3{
  margin-top: 0; /* line up h3 with top of img floated to left*/
}

 
  /* Work Experience */
.workexperience{
  background: #C2C7CB;
  overflow: hidden;
}

.job-details img{
   margin-top: 10px;
}

/* larger screen responsive */

@media screen and (min-width:1682px){
  /* add a background image */
  /* used https://codepen.io/yaphi1/pen/oNbEqGV?editors=0010 to experiment with optimal opacity */
  .workexperience{
      background-image: 
      linear-gradient(to bottom, rgba(255, 255, 255, .47), rgba(255, 255, 255, .9)), url('../images/leone-venter-VieM9BdZKFo-unsplash.jpg');
      background-size: cover;
      background-position: top right;
      padding-bottom: 100px;
  }

  .work-experience-img{
      display: none;
  }
}


/* Education */
.education {
  background-color:#E5BE10;
}

.education p{
   width: 60%;
}

/* Contact Info */
footer {
  background: #2F2504;
  color: #E5BE10;
}
.contact-list{
list-style-type: none;
padding: 0;
}

.contact-list a{
  color:#E5BE10;
  padding: 15px;
  display:  inline-block;
  text-decoration: none;
}

/* Responsive styles */

@media screen and (min-width:1682px){
  /* add a background image */
  /* used https://codepen.io/yaphi1/pen/oNbEqGV?editors=0010 to experiment with optimal opacity */
  .workexperience{
      background-image: 
  linear-gradient(to bottom, rgba(255, 255, 255, .47), rgba(255, 255, 255, .9)), url('../images/leone-venter-VieM9BdZKFo-unsplash.jpg');
      background-size: cover;
      background-position: top right;
      padding-bottom: 100px;
  }

  .work-experience-img{
      display: none;
  }
}

@media screen and (min-width:750px){

  /* text centers header and footer */
  header, footer {
      text-align: center;
  }

  /* only floats image to left at larger screen size, otherwise stacks */
  .header-item img{
      float:left;
      margin-right: 20px;
  }

  /* only floats image to left at larger screen size, otherwise stacks */
  .project-item img{
      float: left;
      margin-right: 20px;
  }

  /* add a background image */
  .workexperience{
      background-image: 
  linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .96)), url('../images/leone-venter-VieM9BdZKFo-unsplash.jpg');
      background-size: cover;
      background-position: top right;
      padding-bottom: 100px;
  }

  .work-experience-img{
      display: none;
  }

   /* only floats image to left at larger screen size, otherwise stacks */
   .workexperience img{
      float: right;
      margin-left: 20px;
      margin-top: 20px;
  }

  /* work experience swiches to 2 col grid */

  .job-details img{
      margin-left: -3px;
      margin-right: 3px;
  }
  .job-item{
      display:grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;
  }
  .education {
      background-image: url(../images/joanna-kosinska-unsplash.jpg);
      background-size: cover;
      background-position: top right;
      padding-bottom: 100px;
  }
  .contact-list{
      display: flex;
      justify-content: center;
  }

}

@media screen and (max-width:749px){
  h1{
      font-size: 75px;
      line-height: 0.9;
      margin-bottom: 20px;
  }
  h2{
     line-height: 1; 
     margin-bottom:15px;
  }
  .contact-list a{
      padding: 5px;
  }
  .content_wrapper h1{
      font-size: 70px;
  }

  .content_wrapper h2{
      font-size: 40px;
  }
}