/* updating code to incorporate improvements suggested by Raymart Pamplona @pikamart via Frontend Mentor */

html{
        box-sizing: border-box;
        
}


*, *:before, *:after {
     box-sizing: inherit;
} 
     
/* Mobile size: 375px */


/* main */
/* houses background image with gradient overlay*/
body{
    min-width: 375px;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: 
    linear-gradient(to bottom, rgba(224, 232, 255, .8), rgba(224, 232, 255, .8)), url('../images/pattern-background-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;


    /* border: solid 1px black; used for design debug */
}


h1{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 1.35rem;
}

h2{
    font-size: .9rem;
    font-weight: 900;

}

/* hero picture */
.hero{
    height: 157px;
    width: 325px;
    background: url('../images/illustration-hero.svg') center/cover no-repeat;
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    margin: 0 auto; /* centers container in relation to screen */
    display: flex;
    position: 0;
    /* border: solid 1px red; used for design debug */
}

/* main container */
.order-container{
    width: 325px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; centers container relative to screen */
    /* margin-bottom: 20vw; */
    /* margin-top: 50px; */
    align-items: center;
    justify-content: center;
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    box-shadow: 0px 25px 40px -14px rgba(102, 98, 153, 0.3);
    /* border: 1px solid purple; used for design debug*/
}

/* main text block */
.order-summary-text{
    display: flex;
    position: 1;
    flex-direction: column;
    text-align: center;
    width: 255px;
    /* border: solid 2px green; used for design debug */
    /* padding-bottom: 5px; */
    color: hsl(224, 23%, 55%); 
    font-size: .95rem;
    font-weight: 900px;
    line-height: 1.75;
   
}

.order-summary-text h1{
    margin-top: 25px;
    margin-bottom: 0px;
}

/* section for displaying order items */
.order-list{
    background-color:hsl(225, 100%, 98%);
    width: 274px;
    height: 85px;
    border-radius: .75rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 0.25rem;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    /* border: 2px solid orange; used for design debug */
}

/* container for design components of item ordered - icon, name, price, option to modify */
/* arrange in a horizontal row */
.order-item{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    justify-content: center;
    align-items:center;
    position: relative;
}

/* icon for order item - music in this case */
.item-img{
    padding: 2px;
    /* border: 2px solid green; used for design debug */
    width:  47px;
    margin-right: 5px;
    margin-left: 15px;
}

.item-type h2{
    
}
/* order item name - ex. "annual plan" */
.item-type{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    position:absolute;
    top: 10px;
    left:10px;
}

/* item price - $59.99 */
.item-price {
    color: hsl(224, 23%, 55%);
    font-size:.85rem;
    position: absolute;
    top: 45px;
    left:10px;
    
}

/* "change" link to right of order item*/
.change-item{
    font-weight: 900;
    font-size: .80rem;
    padding-right: 10px;
}

/* on hover "change" item option switches to pale purple and no underline */
.change-item:hover{
    text-decoration: none;
    /* color: hsl(224, 23%, 55%); */
    opacity: 0.6;
}

/* buttons */

.payment-btn{
    background:hsl(245, 75%, 52%);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: .95rem;
    font-weight:700;
    padding: 15px;
    border:none;
    border-radius: 9px;
    width: 274px;
    box-shadow: 0px 20px 30px -14px hsla(245, 75%, 52%, .6);
    margin-top: 25px;
}

/* color lightens to paler purple on hover */
.payment-btn:hover{
    opacity: 0.6;
}

.cancel-btn{
    background: none;
    color: hsl(224, 23%, 55%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: .95rem;
    font-weight:900;
    padding: 15px;
    border:none;
    border-radius: 9px;
    width: 274px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* text darkens on hover */
.cancel-btn:hover{
    color: hsl(223, 47%, 23%);
}

/* footer */
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Desktop styling */
/* Desktop: 1440px */


@media screen and (min-width:768px){

body{
    background-image: 
    linear-gradient(to bottom, rgba(224, 232, 255, .8), rgba(224, 232, 255, .8)), url('../images/pattern-background-desktop.svg');
    }
.hero{
    height: 220px;
    width: 450px; 
}

.order-container{
    width: 450px;
    margin-top: 0px;
}

h1{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 1.75rem;
    padding-top: 12px;
}

.order-summary-text{
    width: 300px;
    font-size: 1rem;
}

.order-list{
    width: 360px;
    height: 95px;
    margin-right: 0;
}
.item-img{
    padding: 2px;
    width: 55px;
}
.item-type h2{
    font-size:1rem;
    font-weight: 900;
}

.item-type{
    top: 7px;
    left: 12px;
}
.item-price{
    font-size: 1.05rem;
    top: 46px;
    left: 12px;
}
.change-item{
    font-size: .85rem;
    font-weight: 900;
    margin-right: 15px;
}
.payment-btn{
    margin-top: 30px;
    width: 360px;
    cursor: pointer;
}
.cancel-btn{
    margin-top: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}