/* takes content size, padding, and border into account when determing size of content */
* {
  box-sizing: border-box;
}

html {
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}
h3 {
  color: ;
}

body {
  margin: 0;
  font-weight: 300;
  background-color: green;
  color: #fff;
  background-image: url(./table.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

img {
  width: calc(120px * 5 / 7);
  margin: 1em;
}

.container {
  margin: 50px auto;
  min-width: 340px;
  width: 33%;
  max-width: 550px;
  height: 550px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-header {
  display: flex;
  align-items: center;
}

.btn {
  padding: 1em 1.5em;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  margin: 1em;
  background-color: yellow;
  cursor: pointer;
}

#newdeck {
  align-self: flex-start;
}

#drawcards {
  align-self: stretch;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-slot {
  border: 1px solid black;
  border-radius: 5px;
  width: calc(120px * 5 / 7);
  height: 120px;
  margin: 1em;
}

#game-announcements {
  text-align: center;
}
