/* ## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  overflow-x: hidden;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;

  /* min-width: 375px; */
  max-width: 960px;

  padding-right: 5px;
  padding-left: 5px;
}

img {
  margin-bottom: 30px;
}
h1 {
  text-transform: uppercase;
  font-family: Big Shoulders Display;
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  margin: 0;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: lexend deca, sans serif;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  line-height: 1.75;
  padding-top: 10px;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  background-color: hsl(0, 0%, 95%);
  font-size: 1rem;
  font-family: lexend deca, sans serif;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 26px;
  border: 3px solid hsl(0, 0%, 95%);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

/* flex container */
.content-container {
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  width: 326px;
  height: 1300px;
  justify-content: center;
  align-items: center;
}

.sedan {
  padding: 50px;
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.sedan > a {
  color: hsl(31, 77%, 52%);
}

.sedan > .btn:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: 3px solid hsl(0, 0%, 95%);
}
.suv {
  padding: 50px;
  background-color: hsl(184, 100%, 22%);
}

.suv > a {
  color: hsl(184, 100%, 22%);
}

.suv > .btn:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: 3px solid hsl(0, 0%, 95%);
}

.luxury {
  padding: 50px;
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.luxury > .btn:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: 3px solid hsl(0, 0%, 95%);
}

.luxury > a {
  color: hsl(179, 100%, 13%);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* desktop sizing 1440px */
@media screen and (min-width: 1028px) {
  .content-container {
    width: 921px;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin: 170px auto;
  }
  p {
    font-size: 15px;
    padding-right: 5px;
    margin-bottom: 82px;
    letter-spacing: 0px;
    line-height: 1.7;
  }
  .btn {
    padding: 11px 26px;
  }
  .sedan {
    padding-top: 50px;
    padding-left: 48px;
    padding-right: 50px;

    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
  }

  .suv {
    padding-top: 50px;
    padding-left: 46px;
    padding-right: 47px;
  }

  .luxury {
    padding-top: 50px;
    padding-left: 44px;
    padding-right: 45px;

    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
  }
}
